#logout_btn {
    display: flex;
    border: 2px var(--black) solid;
    color: var(--black);
    font-size: 14pt;
    font-weight: 600;
}
#logout_btn #logout_btn_hover{
    display: none;
}
#logout_btn:hover #logout_btn_hover{
    display: flex;
}

#logout_btn #logout_btn_no_hover{
    display: flex;
}
#logout_btn:hover #logout_btn_no_hover{
    display: none;
}

#logout_btn_hover, #logout_btn_no_hover {
    margin: 5px;
}