:root {
    --nav-height: 80px;
}
.avatar {
    display: flex;
    width: 50px;
    height: 50px;
}
.navbar {
    background-color: var(--white);
}
.navbar * {
    justify-content: center;
    align-items: center;
}
.avatar img {
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.nav-item {
    min-height: var(--nav-height);
    margin: 0 5px 0 5px;
}
.navbar-nav {
    min-height: var(--nav-height);
    align-items: center;
}
.navbar-nav p {
    align-self: center;
    margin: 0;
}
.navbar-nav li {
    display: flex;
}
.navbar-nav a {
    display: flex;
    min-height: var(--nav-height);
    align-self: center;
    
}
.navbar-nav li:hover,a:hover {
    cursor: pointer;
    background-color: var(--nav-a-hover);
}

.navbar-brand img {
    min-height: 100%;
}

.nav-container {
    min-height: var(--nav-height);
}

.navbar-collapse {
    min-height: 80px;
}

.nav-account-container {
    display: flex;
    text-decoration-line: none;
}

#language_switcher {
    text-decoration: underline;
}
#language_switcher:hover {
    color: var(--red);
}
.page-subtitle-item:hover {
    cursor: default !important;
}

.nav-separator {
    width: 2px;
    height: 60px;
    color: var(--black);
    background-color: var(--black);
    margin: 0 10px 0 20px;
}

.nav-item {
    padding: 0 7px 0 7px;
}

@media only screen and (min-width: 1400px) {
    #nav-account-container {
        margin: 0 10px 0 10px;
    }
}

@media only screen and (max-width: 1400px) {
    #nav-account-container {
        display: none;
    }
}
@media only screen and (max-width: 1180px) {
    #page-subtitle-item {
        display: none;
    }
}
@media only screen and (max-width: 990px) {
    #nav-account-container {
        margin: 20px 0 20px 0;
        display: flex;
    }
    #page-subtitle-item {
        display: flex;
    }
    #nav-separator {
        display: none;
    }
    
    .nav-container, 
    .nav-item, 
    .navbar-nav, 
    .navbar-nav a {
        min-height: 50px;
    }
}

.badge {
    margin: 0 6%;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 45%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  
  a.badge:hover, a.badge:focus {
    text-decoration: none;
  }
  
  .badge:empty {
    display: none;
  }

  .badge-danger {
    color: var(--white);
    background-color: var(--red);
  }

  