@import url("./navbar/toggle-icon.css");
@import url("./navbar/navbar.css");
@import url("./navbar/logout_partial.css");
@import url("./account/login/login.css");


/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
:root {
    --red: #E03131;
    --white: #FEFEFE;
    --black: #1D1D1B;

    --nav-a-hover: var(--white); 
}

.red {
    color: var(--red) !important;
}
.white {
    color: var(--white) !important;
}
.black {
    color: var(--black) !important;
}

.red-bg {
    background-color: var(--red) !important;
}
.white-bg {
    background-color: var(--white) !important;
}
.black-bg {
    background-color: var(--black) !important;
}
html {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--white);
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #848484; /* Color of the thumb (the draggable part) */
    border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track (the non-draggable part) */
}

/* For Firefox */
html {
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #737373 #f1f1f1;
}
nav img {
    max-height: 50px;
}
.navb {
    max-height: 80px;
    min-height: 80px;
    background-color: white;
}